.container {
    max-width: 1110px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.text-gold {
    color: var(--gold);
}

.title {
    font-size: 48px;
    font-family: serif;
    text-transform: uppercase;
}

.uppercase {
    text-transform: uppercase;
}

.margin-top {
    margin-top: 150px;
}

.description {
    font-size: 14px;
    font-family: var(--openSans-regular);
}