.footer__content {
    justify-content: space-between;
}

.footer__items {
    padding-top: 25px;
    font-family: var(--openSans-bold);
    font-size: 16px;
}

.left__form {
    max-width: 420px;
    justify-content: space-around;
    align-content: space-between;
}

.form__items {
    padding: 0 15px;
    width: 180px;
    height: 35px;
    background: #444444;
    border: 2px solid #565656;
    outline: none;
    font-family: var(--sans-regular);
    box-sizing: border-box;
}

.message {
    width: 310px;
    height: 100px;
    padding: 0 15px;
    background: #444444;
    border: 2px solid #565656;
    outline: none;
    box-sizing: border-box;
    text-overflow: clip;
}

.form__items:placeholder {
    color: #989898;
}

.form__description {
    color: #989898;
    font-size: 18px;
    line-height: 18px;
    font-family: var(--sans-regular);
}

.footer__description {
    font-family: var(--sans-regular);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0em;
    color: #989898;
}
.button__wrapper {
    justify-content: flex-end;
    margin-top: 40px;
}

.footer__button {
    padding: 5px 43.5px;
    outline: none;
    border-color: var(--gold);
    color: white;
}

.footer__bottom {
    margin-top: 80px;
    justify-content: space-between;
    height: 78px;
    align-items: center;
    border-top: 1px solid #565656;
}

.footer__bottom__link {
    font-family: var(--sans-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #989898;
}
