.hero {
    z-index: 1;
}

.hero__content {
    margin-top: 190px;
}


.box__left {
    max-width: 540px;
}

.hero__box {
    max-width: 1035px;
    justify-content: space-between;
}

.hero__title {
    font-size: 46px;
    font-family: var(--openSans-bold);
    color: white;
    letter-spacing: 0.1em;
}

.hero__description {
    color: white;
    line-height: 21px;
}

.hero__button {
    font-family: var(--openSans-bold);
    font-size: 18px;
    background: var(--gold);
    padding: 5px 23.5px;
    box-sizing: border-box;
}