.bg {
    height: 925px;
    background: url(/img/hero-bg.png) no-repeat center;
    background-size: cover;
    z-index: 2;
}

.hero {
    margin-top: 190px;
}

.hero__box {
    max-width: 1035px;
    justify-content: space-between;
    align-items: center;
}

/* BOX LEFT */

.box__left {
    max-width: 540px;
}

.hero__title {
    font-size: 46px;
    font-family: var(--openSans-bold);
    color: white;
    letter-spacing: 0.1em;
}

.hero__description {
    color: white;
    line-height: 21px;
    padding: 50px 0;
    box-sizing: border-box;
}

.button {
    font-family: var(--openSans-bold);
    font-size: 18px;
    background: var(--gold);
    padding: 5px 23.5px;
    box-sizing: border-box;
}

/* SOCIAL-MEDIA */

.social-media {
    position: fixed;
    background: rgba(51, 51, 51, 0.75);
    height: 100%;
    width: 100px;
    left: 0;
    top: 0;
    padding-top: 50px;
}

.number-info {
    position: relative;
    writing-mode: tb;
    font-size: 18px;
    font-family: var(--openSans-bold);
    color: white;
    width: 60%;
    transform: rotate(180deg);
    padding-right: 35px;
}

.number-info::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 80px;
    left: 47%;
    top: -60%;
    background: #c4c4c4;
}

.media {
    margin-top: 160px;
}

.media-items {
    margin-top: 30px;
}

.img {
    transition: 0.3s;
}

.img:hover{
    fill: var(--gold);
}
/* BOX RIGHT */

.box__right {
    position: relative;
    z-index: 1;
}

.box__img {
    z-index: 2;
}

.box__img2 {
    position: absolute;
    right: -20px;
    bottom: 20px;
    z-index: -1;
}

/* BUTTON */

.slider__button {
    justify-content: space-around;
}

.button__prev,
.button__next {
    background: black;
    outline: none;
}

.prev,
.next {
    position: relative;
    font-size: 18px;
    font-family: var(--openSans-bold);
    color: white;
}

.prev,
.next ::after {
}
