.gallery {
    max-width: 1770px;
    justify-content: flex-start;
}

.list__text {
    position: absolute;
}

.list__item {
    position: relative;
    transition: 0.3s;
}

.list__item::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url(/img/search.svg) no-repeat center;
    background-color: var(--gold);
    top: 225px;
    left: 171px;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}

.list__item:hover::before {
    display: inline;
    transition: 0.3s;
}

.text__top,
.text__bot {
    position: absolute;
}

.text__top {
    font-size: 24px;
    font-family: var(--openSans-bold);
    font-weight: 700;
    letter-spacing: 3px;
    left: 40px;
    top: -550px;
}

.text__bot {
    writing-mode: tb;
    transform: rotate(180deg);
    font-family: var(--openSans-bold);
    font-size: 18px;
    left: 40px;
    bottom: 40px;
}

.text__bot,
.text__top {
    position: absolute;
}

.slider__img {
    z-index: -1;
    display: inline;
}